#img {
  background-image: url("http://t1.daumcdn.net/localimg/localimages/07/2014/fiy/pin_addinfo_1.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 50px;
  margin-left: 158px;
  margin-bottom: 33px;
}